<!DOCTYPE html>

<html>
<head>

</head>
<body class = "body">

<span>
<body onLoad="photoA()">
<div id="slider">
<li> <img src="../app/images/Slider/img1.jpg" id="image" ></li>
<div class="left_hold"><img onClick="photo(-1)" class="left" src="../app/images/Slider/Backword.png"></div>
<div class="right_hold"><img onClick="photo(1)" class="right" src="../app/images/Slider/Forward.png"></div>
</div>

<div id="tasks">

<div class="task-card">
	  <h2>What is Todoer</h2>
	  <hr>
	  <p>This is a (Very) simple Todo list making application that uses Material Design.
Mainly being used as a test bed for making use of new material design with the aim of becoming a very useful and feature rich Todo app built from the ground up for </p>
	<span><a href="#/about/">Raed More</a></span>
	</div>
	<div class="task-card loginform cf">
	  <h2>Login</h2>
	  <hr>
	  <form name="login" action="index_submit" method="get" accept-charset="utf-8" onSubmit="return validateForm();" >
    <ul>
		<label for="usermail">Email &nbsp; &nbsp; &nbsp; &nbsp;   <input type="email" name="usermail" placeholder="yourname@email.com" required></li></label>
        <br>
		<label for="password">Password   <input type="password" name="password" placeholder="password" required></li></label>
        
		<br>
        <input type="submit" value="Login"></li>
    </ul>
</form>
	</div>
	
	<div class="task-card">
	  <h2>About us</h2>
	  <hr>
	  <p>This is a (Very) simple Todo list making application that uses Material Design. Mainly being used as a test bed for making use of new material design with the aim of becoming a very useful and feature rich Todo app built from the ground up for</p>
	  <span><a href="#/about/">Raed More</a></span>
	</div>
	<br>
</div>
</div>


<div id="tasks">
	<div class="task-card">
	  <h2>Developers</h2>
	  <hr>
	  
  	  <span class = "developer_rotation" title="Milindu Sanoj">
		  <a href = "https://lk.linkedin.com/in/agentmilindu">
			  <img src="images/Developers/Milindu.jpg" width="60" height="60" alt="" border="0">
		  </a>
	  </span>
	  <span class = "developer_rotation" title="Nishan Gunawardena">
		  <a href ="https://lk.linkedin.com/pub/nishan-gunawardena/79/60a/12"> 
			  <img src="images/Developers/Nishan.jpg" width="60" height="60" alt="" border="0">
		  </a>
      </span>
	  <span class = "developer_rotation" title="Sunella Fernando">
		  <a href ="https://lk.linkedin.com/in/sunellaf">
			<img src="images/Developers/Sunella.jpg" width="60" height="60" alt="" border="0">
		  </a>
	  </span>
	  <span class = "developer_rotation" title="Faizan Jaleel">
		  
		  <a href ="https://lk.linkedin.com/pub/mohamed-faizan/85/b34/3b8">
			  <img src="images/Developers/Faizan.jpg" width="60" height="60" alt="" border="0">
		  </a>
	  </span>
	  <span class = "developer_rotation" title="Nadeesh Fernando">
		  <a href ="https://lk.linkedin.com/pub/nadeesh-fernando/b6/789/297">
			<img src="images/Developers/Nadeesh.jpg" width="60" height="60" alt="" border="0">
		  </a>
	  </span>
	</div>
	
	<div class="task-card">
	  <h2>How to use</h2>
	  <hr>
	  <iframe width="340" height="310"
	  src="https://www.youtube.com/embed/DF37-h1hLDo">
	  </iframe>
	  
	</div>
</div>

</body>
</html>
