@media screen and (max-width: 1500px){
    body{
        background: #25607D;
    }
	
	iframe{
	 width="420";
	 height="345";
	}
}

@media screen and (max-width: 960px){
    body{
        background: url(medium.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
	
	iframe{
	 width="420";
	 height="345";
	}
}

@media screen and (max-width: 480px){
    body{
        background: url(small.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
	
	iframe{
	 width="120";
	 height="75";
	}
}