<section id="tasks" ng-controller="SearchCtrl">
  <div id='container' class="search-card">  
    <div class='cell'>
		<input type='search' placeholder='Search' ng-model="query">
	</div>
  </div>
	<article class="task-card fade" ng-repeat="task in tasks | filter:  query | orderBy : 'done'  " ng-class="{'done': task.done}">
	  <header></header><h2>{{task.title}}</h2></header>
	  <hr>
	  <p>{{task.description}}</p>
	  <footer>
		<span class="edit-button" ng-click="edit(task.id)"><i class="fa fa-pencil"></i></span>
		<span class="close-button" ng-click="markDone(task.id)"><i class="fa fa-check"></i></span>
	  </footer>
	</article>
</section>

<br>
<div id="slider">
	<figure>
		<img src="images/2.jpg" alt>
		<img src="images/3.jpg" alt>
		<img src="images/5.jpg" alt>
		<img src="images/6.jpg" alt>
		<img src="images/5.jpg" alt>
	</figure>
</div>
<div>
	
</div>
<footer>W.W.N.M Fernando 12000469</footer>