<section id="tasks" ng-controller="SearchCtrl">
	<div class="search-card" >
		<input type="text"  ng-model="query"/>
	</div> 
	<article class="task-card fade" ng-repeat="task in tasks | filter:  query | orderBy : 'done'  " ng-class="{'done': task.done}">
	  <header></header><h2>{{task.title}}</h2></header>
	  <hr>
	  <p>{{task.description}}</p>
	  <footer>
		<span class="edit-button" ng-click="edit(task.id)"><i class="fa fa-pencil"></i></span>
		<span class="close-button" ng-click="markDone(task.id)"><i class="fa fa-check"></i></span>
	  </footer>
	</article>
</section>

