<section id="tasks">
	<article class="task-card fade" ng-repeat="task in tasks | orderBy : 'done' " ng-class="{'done': task.done}">
	  <header></header><h2>{{task.title}}</h2></header>
	  <hr>
	  <p>{{task.description}}</p>
	  <footer>
		<span class="edit-button" ng-click="edit(task.id)"><i class="fa fa-pencil"></i></span>
		<span class="close-button" ng-click="markDone(task.id)"><i class="fa fa-check"></i></span>
	  </footer>
	</article>
</section>
<audio>
	<source src="audio/Cha_Ching.mp3"></source>
	<source src="audio/Cha_Ching.mp3"></source>
</audio>
<rect x="500" y="500" width="100" height="50"
style="fill:blue;stroke-width:5;
stroke:black;opacity:1>
<animate xlink:href="#myRect" animateType="CSS" animateName="opacity" from="1" to="0" dur="4s" repeatCount="indefinite">
</rect>

